/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

header, nav, main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 80%;
}

header, ul, main, figure {
    border-radius: 2rem;
}

body {
    background-color: #CEDEBD;
    font-family: 'Akaya Telivigala', cursive;
}

header {
    background-color: #FAF1E4;
    margin-top: 2rem;
}

header img {
    margin: 1rem 0;
}

nav ul {
    background-color: #9EB384;
    display: flex;
    font-size: 3rem;
    justify-content: space-evenly;
    padding: 1rem 0;
    margin: 2rem 0;
    width: 100%;
}


a:link {
    color: #435334;
    text-decoration: none;
    transition: 0.5s;
}

a:visited {
    color: #435334;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

main {
    background-color: #9EB384;
    flex-direction: column;
    color: #435334;
    padding: 2rem;
    margin-bottom: 2rem;
}

.about-section {
    margin: 1rem;
}

h2{
    font-size: 5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
}

article p {
    font-size: 3rem;
}

figure {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./../img/lucky-shrub-promo.jpg);
    color: #435334;
    font-size: 3rem;
    padding-top: 2rem;
    height: 50rem;
    width: 100%;
    overflow: hidden;
}

@keyframes promo {
    from {font-size: 3rem;}
    to {font-size: 4rem;} 
}

figure h1 {
    background-color: silver;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    padding: 2rem;
    opacity: 0.7;
    animation: promo 2s linear infinite alternate;
}

.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
}

img {
    margin: 1rem 0;
}

h3 {
    font-size: 4rem;
}

.team-section div{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.team-section article {
    border-radius: 2rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    transition: 0.5s;
}

.team-section article:hover {
    box-shadow: 10px 10px 5px #435334;
}

footer section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #435334;
    color: white;
    font-size: 3rem;
    gap: 5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.maintenance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: #FAF1E4;
    border-radius: 2rem;
    height: 50%;
    width: 80%;
}

.maintenance h1 {
    font-size: 5rem;
    color: #435334;
}

.maintenance a {
    font-size: 2rem;
}

.maintenance a:hover {
    color: black;
}